<div class="todo-box">
  <div style="font-size: 30px; font-weight: bold; text-align: center; margin: 30px;">To-Do List</div>
  <div class="item-box">
    <input #itemText type="text">
    <button (click)="addItem(itemText.value)">
      Ekle
    </button>
  </div>
  <div class="list-box" *ngIf="items.length > 0">
    <ng-container *ngFor="let item of items; let i = index">
      <div class="list-item" >
        <div style="margin: auto 0;">
          <input matInput type="checkbox" (change)="onChange(i)">
          <span [ngStyle]="item.selected ? {'text-decoration': 'line-through'} : {'text-decoration': 'none'}" style="font-size: 18px;">{{item.value}}</span>
        </div>
        <button (click)="removeItem(i)">X</button>
      </div>
      <div *ngIf="items.length - 1 > i" style="border-top: 1px solid #bbb;"></div>
    </ng-container>
    </div>
</div>