.todo-box{
    display: block;
    padding: 20px;
    width: 100%;
    .item-box{
        margin: auto;
        width: 50%;
        display: flex;
        background-color: white;
        margin-bottom: 30px;
        input[type=text]{
            width: 100%;
            padding: 8px 10px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px 0px 0px 4px;
            box-sizing: border-box;
            font-size: 20px;
        }
        input[type=text]:focus, input[type=text]:hover{
            outline: solid 3px #4fa1ff5f;
            font-size: 20px;
        }
        button{
            width: 75px;
            border: 1px solid #ccc;
            background-color: white;
            color: rgb(90, 90, 90);
            border-radius: 0px 4px 4px 0px;
        }
        button:hover{
            color: white;
            background-color: #6d767d;
            outline: solid 3px #a0a0a055;
        }
    }
    .list-box{
        margin: auto;
        width: 50%;
        border: 1px solid #ccc;
        border-radius: 4px;
        .list-item{
            display: flex;
            justify-content: space-between;
            padding: 10px;
            button{
                width: 40.8px;
                border: none;
                color: white;
                padding: 10px;
                background-color: #dd3545;
                border-radius: 4px;
                font-size: 18px;
            }
        }
    }
}